
/*! #######################################################################

	MeanMenu 2.0.7
	--------

	To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */

/* hide the link until viewport size is reached */
a.meanmenu-reveal {
	display: none;
}

/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
  background: transparent none repeat scroll 0 0;
  margin-top: 0;
  min-height: 50px;
  position: relative;
  z-index: 999999;
	background: aquamarine;
}
.mean-container .mean-bar::before {
  /*color: #fff;*/
  color: #16A085;
  content: "menu";
  font-size: 20px;
  font-weight: 500;
  left: 10px;
  position: absolute;
  text-transform: uppercase;
  top: 15px;
}
.mean-container a.meanmenu-reveal {
	width: 22px;
	height: 22px;
	padding: 13px 13px 11px 13px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-indent: -9999em;
	line-height: 22px;
	font-size: 1px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

.mean-container a.meanmenu-reveal span {
	display: block;
	background: #fff;
	height: 3px;
	margin-top: 3px;
}

.mean-container .mean-nav {
  background: #fff;
  float: left;
  margin-top: 44px;
  width: 100%;
}

.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
}

.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
	border-bottom:1px solid #ddd;
}

.mean-container .mean-nav ul li a {
  background: #f8f8f8 none repeat scroll 0 0;
  border-top: 1px solid #f8f8f8;
  color: #666;
  display: block;
  float: left;
  margin: 0;
  padding: 12px 15px;
  text-transform: uppercase;
  width: 88%;
}
.mean-container .mean-nav ul li li a {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  font-size: 12px;
  font-weight: 400;
  padding: 10px 15px;
  visibility: visible;
  width: 80%;
  text-transform: capitalize;
}

.mean-container .mean-nav ul li.mean-last a {
	border-bottom: none;
	margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
	width: 70%;
	padding: 1em 15%;
}

.mean-container .mean-nav ul li li li li a {
	width: 60%;
	padding: 1em 20%;
}

.mean-container .mean-nav ul li li li li li a {
	width: 50%;
	padding: 1em 25%;
}

.mean-container .mean-nav ul li a:hover {
	color:#C38749;
}

.mean-container .mean-nav ul li a.mean-expand {
  font-weight: 700;
  height: 18px;
  padding: 12px !important;
  position: absolute;
  right: 0;
  text-align: center;
  width: 26px;
  z-index: 2;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
	color:#C38749;
}

.mean-container .mean-push {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}

.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}


.mean-remove {
	display: none !important;
}
